html {
    display: grid;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

  }

  .wrapper {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-areas:
      "title main"
      "nav main"
      "nav main"
      "nav main"
      "foot main";

  }


#Page-Title {
    background-color: mediumblue;
    grid-area: title;
    margin: 0;
    padding: 0 .25em;    
}

h1 {

    color: plum;
}

#navbar {
    color: mediumblue;
    border: 1px solid blueviolet;
}

#nav-head {
    
    font-size: 1.25em;
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
    padding: .25em;
    
}

.symbol {
    font-size: 1.5em;
    color: crimson;
    background-color: lavender;
}

a:hover {
    color: crimson;
}

a:visited {
    color: green;
}

.nav-link {
    width: 100%;
    text-align: center;
    display: grid;
    padding: 1em 0;
    background-color: lavender;
    border-bottom: 1px solid blueviolet;
}

main {
      grid-area: main;
  }
  
#main-doc {
    background-color: plum;
    margin: 0;
  }

section {
      margin: 0 .5em;
      
      background-color: lavenderblush;

  }
.main-section {
    padding-bottom: 1em;
}

  header {
      font-size: 1.25em;
      margin-top: .5em;
      background-color: lavender;
      padding: .25em;
      color: mediumblue;
  }

  p {
      line-height: 1.25em;
      background-color: lavenderblush;
      margin: .75em;
  }

  code {
      background-color: lavender;
      color: midnightblue;
      margin: 2em 1em;;
      padding: .25em .75em;
      border-radius: .25em;
        
  }

  li {
      margin: .25em 1em;
      font-size: .9em;
      color: midnightblue;
  }

  .foot {
      display: grid;
      
      
      
  }

  .navbar-foot {
      
      display: flex;
      padding-bottom: 2em;
  } 

  .nav-link-foot {
    width: 100%;
    text-align: center;
    
    padding: 1em 0;
    background-color: lavender;
    border: 1px solid blueviolet;
}

  @media only screen and (max-width: 640px) {
      .wrapper {
          
          width: 100%;
          grid-template-areas: 
          "title"
          "nav"
          "main"
          "foot";
      }

      #Page-Title {
          grid-column: 1 / -1;
          grid-row: 1 / 2;
      }

      #navbar {
          grid-column: 1 / -1;
      }

      main {
          grid-column: 1 / -1;
      }
  }


  