$font-heading: garamond;
$font-text: arial;
$font-links: "Courier New";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0 0.25rm;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin: 0.5rem 0.5rem 0;
}

p {
  font-family: $font-text;
  margin: 0.5rem 1rem;
}

header {
  padding: 1rem 0.25rem;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0 0.25rem 1rem;
}

.nav-link {
  padding: 0.35rem;
  border: 2px solid black;
  margin: 0.15rem 0;
}

a {
  text-decoration: none;
  font-family: $font-links;
}

p {
  padding: 0.5rem;
}

li {
  margin: 0.25rem 0.75rem;
  list-style-type: lower-alpha;
}

code {
  margin: 1.5rem 1rem;
  padding: 0.5rem 1rem;
  background-color: lightgray;
}

.code-box {
  padding: 0.5rem 0.5rem;
  margin: 0;
  background-color: lightgray;
  font-family: monospace;
}

.text-link {
  margin: 0 1.5rem;
}

.symbol {
  background-color: lightgray;
  display: inline;
  //   border-radius: 100%;
  margin: 1.5rem 0.5rem;
  padding: 0.5rem;
}
