@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans&family=Zen+Antique+Soft&display=swap");

$font-heading: "Zen Antique Soft", serif;
$font-text: "Open Sans", sans-serif;
$font-links: "Fira Mono", monospace;
$font-test: sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0 0.25rm;
  margin: auto;
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin: 0.5rem 0.5rem 0;
  text-align: center;
  // color: gray;
}

p {
  font-family: $font-text;
  margin: 0.5rem 1rem;
  // font-size: large;
}

header {
  padding: 1rem 0.25rem;
}

nav {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0.25rem 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-link {
  padding: 0.35rem;
  border: 2px solid black;
  margin: 0.15rem;
}

a {
  text-decoration: none;
  font-family: $font-links;
  font-weight: 1000;
}

a:hover {
  font-weight: bold;
  color: green;
  background-color: lightgray;
}

p {
  padding: 0.5rem;
}

p.code-box {
  font-family: $font-links;
}

ol {
  margin: 2rem;
}

li {
  margin: 0.5rem 2.5rem;
  list-style-type: lower-alpha;
  font-family: $font-text;
}

code {
  margin: 1.5rem 1rem;
  padding: 0.5rem 1rem;
  background-color: lightgray;
  color: red;
}

.code-box {
  padding: 1.5rem 1rem;
  margin: 0 2rem;
  background-color: lightgray;
  font-family: monospace;
  border-radius: 0.25rem;
}

.text-link {
  margin: 2.5rem;
}

.symbol {
  // background-color: lightgray;
  display: block;
  //   border-radius: 100%;
  // margin: 1.5rem 0.5rem;
  // padding: 0.5rem;
  text-decoration: underline;
  font-size: small;
  font-weight: 100;
  text-align: right;
}

.main-section {
  margin: 2rem 0;
  border-top: 7px solid lightgrey;
  padding-top: 1rem;
}

@media only screen and (max-width: 720px) {
  .nav-link {
    border: none;
    padding: 0.5rem;
    width: 75vw;
    background-color: lightgray;
  }
}

@media only screen and (min-width: 720px) {
  html {
    background-color: lightgray;
  }
  body {
    border-left: 2rem solid grey;
    border-right: 2rem solid grey;
    background-color: white;
  }
}
